#little-message {
  position: absolute;
  bottom: 25rem;
  left: 25rem;
  background-color: #161616;
  display: flex;
  gap: 2rem;
  border-radius: 2rem;
  align-items: center;
  padding: 3rem;
  animation: fadeIn 0.3s ease-in forwards;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  z-index: 3;
}

#little-message > img {
  width: 4rem;
  pointer-events: none;
}

#little-message > p {
  font-size: 3rem;
  color: var(--border-text-color);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
